.projects-tags, .about-tags {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 200;
  font-size: 2em;
  color: #00A372;
}

.projects-container-part {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-container-part .projects-container {
  width: 90%;
  margin: 20px auto 50px auto;
  z-index: 6;
}

.projects-container-part .projects-container .project {
  border: 2px solid #00A372;
  margin-top: 40px;
  position: relative;
}

.projects-container-part .projects-container .project .project-detail-wrapper {
  zoom: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  min-height: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px 10px 20px;
  position: relative;
  overflow: hidden;
}

.projects-container-part .projects-container .project .project-detail-wrapper .project-fill {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #00A372;
  -webkit-transition: width 0.9s;
  transition: width 0.9s;
}

.projects-container-part .projects-container .project .project-detail-wrapper .show {
  width: 0%;
}

.projects-container-part .projects-container .project .project-detail-wrapper h1 {
  text-align: left;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 200;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2.1em;
}

.projects-container-part .projects-container .project .project-detail-wrapper p {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 1.6em;
}

.projects-container-part .projects-container .project .project-detail-wrapper a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Maven Pro', sans-serif;
  color: #00A372;
  font-size: 1.7em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: color 2s;
  transition: color 2s;
  -webkit-transform: translateY(230px);
          transform: translateY(230px);
  -webkit-transition: color 0.2s, -webkit-transform 0.4s ease-out 0.6s;
  transition: color 0.2s, -webkit-transform 0.4s ease-out 0.6s;
  transition: transform 0.4s ease-out 0.6s, color 0.2s;
  transition: transform 0.4s ease-out 0.6s, color 0.2s, -webkit-transform 0.4s ease-out 0.6s;
}

.projects-container-part .projects-container .project .project-detail-wrapper a:hover {
  color: #a3ffe3;
}

.projects-container-part .projects-container .project .project-detail-wrapper h1, .projects-container-part .projects-container .project .project-detail-wrapper p {
  -webkit-transform: translateY(230px);
          transform: translateY(230px);
  -webkit-transition: -webkit-transform 0.4s ease-out 0.6s;
  transition: -webkit-transform 0.4s ease-out 0.6s;
  transition: transform 0.4s ease-out 0.6s;
  transition: transform 0.4s ease-out 0.6s, -webkit-transform 0.4s ease-out 0.6s;
}

.projects-container-part .projects-container .project .project-detail-wrapper .show-text {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media screen and (max-width: 1200px) {
  .projects-container-part .projects-container .project .project-detail-wrapper h1 {
    font-size: 1.8em;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper p {
    font-size: 1.2em;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper a {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 968px) {
  .projects-tags, .about-tags {
    font-size: 1.8em;
  }
  .projects-container-part {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .projects-tags, .about-tags {
    font-size: 1.6em;
  }
  .projects-container-part {
    width: 90%;
  }
  .projects-container-part .projects-container {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper h1 {
    font-size: 1.5em;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper p {
    font-size: 1.0em;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper a {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 480px) {
  .projects-tags, .about-tags {
    width: 90%;
    font-size: 1.5em;
  }
  .projects-container-part {
    width: 90%;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper h1 {
    font-size: 1.4em;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper p {
    font-size: 0.95em;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper a {
    font-size: 1em;
  }
}

.about-tags {
  color: #ED7D3A;
}

.about-container-part {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-container-part .about-container {
  width: 90%;
  margin: 50px auto 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.about-container-part .about-container .about-text {
  width: 100%;
  height: 100%;
}

.about-container-part .about-container .about-text h1 {
  text-align: left;
  color: #ED7D3A;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  font-size: 2.5em;
  font-weight: 100;
}

.about-container-part .about-container .about-text h2 {
  text-align: left;
  color: #00A372;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
}

.about-container-part .about-container .about-text h2:nth-of-type(3) {
  color: #ED7D3A;
}

.about-container-part .about-container .about-text .download-pdf-button {
  display: block;
  width: 80%;
  height: 50px;
  background-color: #1D1E2C;
  border: 1px solid #ED7D3A;
  font-size: 25px;
  color: white;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-decoration: none;
  -webkit-transition: color 0.4s, background-color 0.4s;
  transition: color 0.4s, background-color 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.about-container-part .about-container .about-text .download-pdf-button:hover {
  color: #ED7D3A;
  background-color: white;
}

.about-container-part .about-container .about-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.about-container-part .about-container .about-image .main-svg-about path {
  -webkit-transform: matrix(0.01, 0, 0, 0.01, 300, 90);
          transform: matrix(0.01, 0, 0, 0.01, 300, 90);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.about-container-part .about-container .about-image .main-svg-about .my-photo {
  -webkit-transform: matrix(0.0001, 0, 0, 0.0001, 300, 440);
          transform: matrix(0.0001, 0, 0, 0.0001, 300, 440);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.about-container-part .about-container .about-image .programm-div {
  height: 100%;
  width: 100%;
}

.about-container-part .about-container .about-image .programm-div g {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

@media screen and (max-width: 1400px) {
  .about-container-part .about-container .about-text h1 {
    font-size: 2.2em;
    font-weight: 100;
  }
  .about-container-part .about-container .about-text h2 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 1200px) {
  .about-container-part .about-container .about-text h1 {
    font-size: 2.0em;
    font-weight: 100;
  }
  .about-container-part .about-container .about-text h2 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 968px) {
  .about-tags {
    font-size: 1.8em;
  }
  .about-container-part {
    width: 90%;
  }
  .about-container-part .about-container {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .about-container-part .about-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .about-tags {
    font-size: 1.6em;
  }
}
/*# sourceMappingURL=About.css.map */