.left-icon-svg {
  position: absolute;
  top: 80px;
  left: 150px;
  opacity: 0.2;
}

.right-icon-svg {
  position: absolute;
  bottom: 80px;
  right: 200px;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  opacity: 0.2;
}

.main-page-container {
  width: 90%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  overflow-x: hidden;
}

.main-page-container .front-page-container {
  width: 60%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-page-container .front-page-container .front-page-text {
  width: 60%;
  font-size: 2.4vw;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: white;
  z-index: 5;
}

.main-page-container .front-page-container .first-shape, .main-page-container .front-page-container .second-shape, .main-page-container .front-page-container .third-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main-page-container .front-page-container .first-shape {
  top: -100px;
  left: 250px;
}

.main-page-container .front-page-container .second-shape {
  top: 200px;
  left: 0px;
}

.main-page-container .front-page-container .third-shape {
  top: 100px;
  left: 450px;
}

.main-page-container .loading-animation-container {
  height: 70vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page-container .loading-animation-container .wrapper {
  width: 60%;
  margin: 0px auto 0px auto;
  position: relative;
  margin-top: 300px;
}

.main-page-container .loading-animation-container .wrapper h1 {
  width: 100%;
  font-size: 3em;
  position: absolute;
  top: -100px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
}

.main-page-container .loading-animation-container .wrapper .loading-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: calc(100%);
  border: 4px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 2;
}

.main-page-container .loading-animation-container .wrapper .loading-panel .white-line {
  height: 54px;
  width: 4px;
  background-color: white;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

.main-page-container .loading-animation-container .wrapper .loading-panel-fill {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 54px;
  width: 0%;
  z-index: 1;
  background-color: #00A372;
}

.main-page-container .before-about-quote-div {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-page-container .before-about-quote-div .main-svg {
  position: absolute;
  padding-top: 100px;
  max-height: 600px;
  max-width: 800px;
  display: block;
  margin: auto;
}

.main-page-container .before-about-quote-div .main-svg .triangle-path {
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
}

.main-page-container .before-about-quote-div .main-svg .main-text, .main-page-container .before-about-quote-div .main-svg .background-text {
  font-family: 'Maven Pro', sans-serif;
  fill: white;
  font-size: 3.5em;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.main-page-container .before-about-quote-div .main-svg .background-text {
  stroke: #1D1E2C;
  stroke-width: 0.8em;
}

.main-page-container .before-about-contact-div {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page-container .before-about-contact-div .main-svg {
  max-height: 600px;
  max-width: 800px;
  display: block;
  margin: auto;
}

.main-page-container .before-about-contact-div .main-svg path {
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
}

.main-page-container .before-about-contact-div .main-svg .main-text, .main-page-container .before-about-contact-div .before-about-quote-div .main-svg .background-text, .main-page-container .before-about-quote-div .before-about-contact-div .main-svg .background-text {
  font-family: 'Maven Pro', sans-serif;
  fill: white;
  font-size: 4em;
}

@media screen and (max-width: 1200px) {
  .main-page-container .front-page-container .first-shape, .main-page-container .front-page-container .second-shape, .main-page-container .front-page-container .third-shape {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .main-page-container .front-page-container .front-page-text {
    font-size: 3.4vw;
  }
  .main-page-container .front-page-container .first-shape {
    top: -40px;
    left: 250px;
  }
  .main-page-container .front-page-container .second-shape {
    top: 200px;
    left: 40px;
  }
  .main-page-container .front-page-container .third-shape {
    top: 140px;
    left: 450px;
  }
  .main-page-container .loading-animation-container .wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .main-page-container .front-page-container {
    width: 80%;
  }
  .main-page-container .front-page-container .first-shape, .main-page-container .front-page-container .second-shape, .main-page-container .front-page-container .third-shape {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .main-page-container .front-page-container .front-page-text {
    font-size: 4.3vw;
    width: 70%;
  }
  .main-page-container .front-page-container .first-shape {
    top: -40px;
    left: 200px;
  }
  .main-page-container .front-page-container .second-shape {
    top: 200px;
    left: 40px;
  }
  .main-page-container .front-page-container .third-shape {
    top: 140px;
    left: 350px;
  }
  .main-page-container .loading-animation-container .wrapper {
    width: 90%;
  }
  .main-page-container .loading-animation-container .wrapper h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 768px) {
  .main-page-container .front-page-container {
    width: 90%;
  }
  .main-page-container .front-page-container .first-shape, .main-page-container .front-page-container .second-shape, .main-page-container .front-page-container .third-shape {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .main-page-container .front-page-container .front-page-text {
    font-size: 6vw;
    width: 80%;
  }
  .main-page-container .front-page-container .first-shape {
    top: -50px;
    left: 100px;
  }
  .main-page-container .front-page-container .second-shape {
    top: 200px;
    left: -40px;
  }
  .main-page-container .front-page-container .third-shape {
    top: 140px;
    left: 200px;
  }
}

@media screen and (max-width: 600px) {
  .main-page-container .front-page-container {
    width: 100%;
  }
  .main-page-container .front-page-container .first-shape, .main-page-container .front-page-container .second-shape, .main-page-container .front-page-container .third-shape {
    -webkit-transform: scale(0.68);
            transform: scale(0.68);
  }
  .main-page-container .front-page-container .front-page-text {
    font-size: 7vw;
    width: 100%;
  }
  .main-page-container .front-page-container .first-shape {
    -webkit-transform: scale(0.55);
            transform: scale(0.55);
    height: 150vh;
    width: 150vw;
    top: -150px;
    left: -30px;
  }
  .main-page-container .front-page-container .second-shape {
    top: 200px;
    left: -40px;
  }
  .main-page-container .front-page-container .third-shape {
    top: 140px;
    left: 150px;
  }
}
/*# sourceMappingURL=MainPage.css.map */