.projects-tags {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 200;
  font-size: 2em;
  color: #00A372;
}

.projects-container-part {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-container-part .projects-container {
  width: 90%;
  margin: 20px auto 50px auto;
  z-index: 6;
}

.projects-container-part .projects-container .project {
  border: 2px solid #00A372;
  margin-top: 40px;
  position: relative;
}

.projects-container-part .projects-container .project .project-detail-wrapper {
  zoom: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  min-height: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px 10px 20px;
  position: relative;
  overflow: hidden;
}

.projects-container-part .projects-container .project .project-detail-wrapper .project-fill {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #00A372;
  -webkit-transition: width 0.9s;
  transition: width 0.9s;
}

.projects-container-part .projects-container .project .project-detail-wrapper .show {
  width: 0%;
}

.projects-container-part .projects-container .project .project-detail-wrapper h1 {
  text-align: left;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 200;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2.1em;
}

.projects-container-part .projects-container .project .project-detail-wrapper p {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 1.6em;
}

.projects-container-part .projects-container .project .project-detail-wrapper a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Maven Pro', sans-serif;
  color: #00A372;
  font-size: 1.7em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: color 2s;
  transition: color 2s;
  -webkit-transform: translateY(230px);
          transform: translateY(230px);
  -webkit-transition: color 0.2s, -webkit-transform 0.4s ease-out 0.6s;
  transition: color 0.2s, -webkit-transform 0.4s ease-out 0.6s;
  transition: transform 0.4s ease-out 0.6s, color 0.2s;
  transition: transform 0.4s ease-out 0.6s, color 0.2s, -webkit-transform 0.4s ease-out 0.6s;
}

.projects-container-part .projects-container .project .project-detail-wrapper a:hover {
  color: #a3ffe3;
}

.projects-container-part .projects-container .project .project-detail-wrapper h1, .projects-container-part .projects-container .project .project-detail-wrapper p {
  -webkit-transform: translateY(230px);
          transform: translateY(230px);
  -webkit-transition: -webkit-transform 0.4s ease-out 0.6s;
  transition: -webkit-transform 0.4s ease-out 0.6s;
  transition: transform 0.4s ease-out 0.6s;
  transition: transform 0.4s ease-out 0.6s, -webkit-transform 0.4s ease-out 0.6s;
}

.projects-container-part .projects-container .project .project-detail-wrapper .show-text {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media screen and (max-width: 1200px) {
  .projects-container-part .projects-container .project .project-detail-wrapper h1 {
    font-size: 1.8em;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper p {
    font-size: 1.2em;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper a {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 968px) {
  .projects-tags {
    font-size: 1.8em;
  }
  .projects-container-part {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .projects-tags {
    font-size: 1.6em;
  }
  .projects-container-part {
    width: 90%;
  }
  .projects-container-part .projects-container {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper h1 {
    font-size: 1.5em;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper p {
    font-size: 1.0em;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper a {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 480px) {
  .projects-tags {
    width: 90%;
    font-size: 1.5em;
  }
  .projects-container-part {
    width: 90%;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper h1 {
    font-size: 1.4em;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper p {
    font-size: 0.95em;
  }
  .projects-container-part .projects-container .project .project-detail-wrapper a {
    font-size: 1em;
  }
}
/*# sourceMappingURL=Projects.css.map */