@import "./variables";

.projects-container-part {
    width: 80%;
    display: flex;
    flex-direction: column;

    .projects-tags {
        font-family: 'Maven Pro', sans-serif;
        font-weight: 200;
        color: $DarkGreen;
    }

    .projects-container {
        width: 90%;
        // background-color: blue;
        margin:20px auto 50px auto;
        z-index: 6;

        .project {
            height: 200px;
            border: 4px solid $DarkGreen;
            margin-top: 30px;
            // position: absolute;
                .project-detail-wrapper {
                    display: flex;
                    height: calc(100% - 20px);
                    flex-direction: column;
                    // justify-content: space-around;
                    padding: 10px 20px 10px 20px;
                    position: relative;
                    
                    .project-fill {
                        position: absolute;
                        top:0px;
                        left:0px;
                        height:100%;
                        width:100%;
                        background-color: $DarkGreen;
                        transition: width 0.9s;
                    }

                    .show {
                        width: 0%;
                    }

                    h1 {
                        text-align: left;
                        font-family: 'Maven Pro', sans-serif;
                        font-weight: 200;
                        color: white;
                        flex: 1;
                        font-size: 2em;
                    }
    
                    p {
                        flex: 2;
                        font-family: 'Maven Pro', sans-serif;
                        font-weight: 200;
                        color: white;
                        font-size: 1.4em;
                    }
    
                    a {
                        flex: 1;
                        font-family: 'Maven Pro', sans-serif;
                        color: $DarkGreen;
                        font-size: 1.5em;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        transition: color 0.6s;
    
                        &:hover {
                            color: lighten($DarkGreen, 50%);
                        }
                    }
                }
        }
           
    }
}